.projects {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url('/img/pic5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;

} 

  .projects-main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
  }

  .projects p {
    font-size: 25px;
    line-height: 25px;
    word-wrap: normal;
    font-weight: bold;
  }

  .kanjiApp a {
    
    text-decoration: underline;
    line-height: 42px;
    font-size: 41px;
    font-weight: bold;

  }

