.stack  {

  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.stack iframe {
  overflow: hidden;
}



.tag-terrain {

  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  
}