
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  color: rgb(0, 0, 0);

  overflow: hidden;
}

h1 {
  animation: flash 0.2s infinite;
}

@keyframes flash {
  0% { color: burlywood; }
  50% { color: goldenrod; }
}

.about {
  padding: 5px;
  display: flex;
  background-color: black;
  color: rgb(0, 0, 0);
  text-shadow: 0.7px 0.1px 0.1px white;
  background-image: url('/img/Leonardo_Diffusion_baroque_pattern_website_background_gold_on_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

  .about h3 {
    backdrop-filter: blur(5px);
  }

  .about-nav {
  display: flex;
  backdrop-filter: blur(5px);


  width: 100%;
  height: 7rem;
  }

  .about-main {
    padding: 20px;

    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
  }

    .about-main h3 {
      text-align:justify;

    }



.navButtons {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(5px);

} 

  .navButtons button {
    background-color: transparent;

    border-radius: 8px;
    border: 1px solid black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    
  }

  .navButtons button:hover {
    border-color: white;
    color: white;
  }
  .navButtons button:focus,
  .navButtons button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }





.contact  {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/Leonardo_Diffusion_close_to_the_edge_frame_baroque_pattern_gol_0.jpg');
}
  .contact-nav {
    display: flex;
    height: 7rem;
    backdrop-filter: blur(5px);

  }


.projects {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


} 






.flipLink:hover {
  color: rgb(79, 32, 171);
  cursor: pointer;
}

  .projects-main {
    display: flex;
    flex-direction: column;
  }

  .projects p, a {
    font-size: 15px;
    line-height: 20px;
    word-wrap: normal;
  }

  a {
    color: rgb(79, 32, 171);
    cursor: pointer;
  }

  .projects h3 {
    text-decoration: underline;
    line-height: 30px;
    font-size: 17px;
    font-family: 'Orbitron', sans-serif;

  }

  .codeExamples {
    display: flex;
    flex-direction: column;
    
    justify-content: center;


  }

    .codeExamples-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 5%;
    }

  .stack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

  }

    .icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 1%;
      grid-row-gap: 1%;
      justify-content: center;
      align-items: center;
    }

    .icons p {
      font-size: 13px;
      justify-content: center;
      align-items: center;
      margin: 5px 0 0 0;
    }

    /* @media only screen and (max-width: 768px) {
      .projects {
        width: 77%;
        height: 95%;
      }

        .projects h3 {
          font-size: 15px;

        }

        .projects p, a {
          font-size: 12px;
          line-height: 15px;
        }

      .icons {
        grid-row-gap: 5%;
      }

        .icons p {
          font-size: 10px;

        }
    } */


